apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-hashing-inspire
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-hashing-inspire
  template:
    metadata:
      labels:
        app: cloud-hashing-inspire
    spec:
      containers:
      - name: cloud-hashing-inspire
        image: uhub.service.ucloud.cn/entropypool/cloud-hashing-inspire:latest
        imagePullPolicy: Always
        env:
        - name: ENV_ENVIRONMENT_TARGET
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.target
        - name: ENV_CONSUL_HOST
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_host
        - name: ENV_CONSUL_PORT
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_port
        - name: ENV_CLUSTER_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

---
apiVersion: v1
kind: Service
metadata:
  name: cloud-hashing-inspire
  namespace: kube-system
spec:
  ports:
  - name: http
    port: 50130
    targetPort: 50130
  - name: grpc
    port: 50131
    targetPort: 50131
  - name: healthz
    port: 50132
    targetPort: 50132
  selector:
    app: cloud-hashing-inspire
